<div class="jumbotron" id="no_radius">
	<h1>Welcome to the social network</h1>
		<% if @current_user %>
		<!-- checks if there is a current user -->
		<!-- in other words if logged in -->
			<p>Welcome, <%= @current_user.email%></p>
		<% end %>
</div>

<br>

<!-- logo -->
<div id="logo">		
	<a href="/"><p><span>the</span>SN</p></a>
</div>

<div id="feat">
	<p>Featured on:</p>
<img src="http://www.ijailbreak.com/wp-content/uploads/2010/10/iJailbreakFeaturedLogos.png" alt="">
</div>