<h1>hey there profiles</h1>

<!-- Not sure what info this shows -->


<% @member_profile.each do |i| %>
	<p><%= i.user_name %></p>
<% end %>

	<p><%= @email %></p>

<% @member_profile.each do |i| %>
	<p><%= i.bio %></p>
<% end %>

<% @member_profile.each do |i| %>
	<p><img src="<%= i.image %>" width="300px" ></p>
<% end %>

