<h1>Welcome to <%=@current_profile.user_name%>'s profile</h1>
<h4><%= @email %></h4>
<p><%= @current_profile.bio %></p>
<div><img src ="<%=@current_profile.image%>"></div>

<div>
	<h2>This is my wall</h2>
</div>


