<!DOCTYPE html>
<html>
<head>
  <title>GA Social Network Assignment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header" class="">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/new_user">Create Account</a></li>
	</ul>
</header><!-- /header -->
<%= yield %>

</body>
</html>
